a.active{
    color: fuchsia;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
}
.alllinks{
    background-color: lightgray;
    padding: 10px;
}
a{
    padding: 10px;
    display: inline-block;
}